.container {
  width: 1110px;
  margin: 0 auto;
  background-image: url(../images/bg_1.png);
  background-repeat: no-repeat;
  background-size: 790px 697px;
  background-position: 0 0;
  padding-top: 1px;
}
