body {
  font-family: Arial,sans-serif;
  background-image: url(../images/bg_1.png);
  background-repeat: no-repeat;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
}
.title {
  font-size: 70px;
  text-align: center;
  font-weight: 400;
  line-height: 78px;
}
.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.li-style {
  padding: 25px;
  margin: 45px;
  width: 340px;
  background-color: #f7f7fa;
}
.img-style {
  width: 100%;
  margin-bottom: 30px;
}
.category {
  text-transform: uppercase;
  display: block;
  color: #a5a3b9;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}
.name-of-product {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}
.cost {
  float: right;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.ul-nonestyle {
  padding-left: 0;
  margin-bottom: 25px;
  list-style-position: inside;
}
