body {
  color: #515076;
  background-image: url(../images/bg\ 1.png);
  background-repeat: no-repeat;
}

.none_style {
  list-style: none;
}
img {
  width: 290px;
  height: 245px;
}
ul {
  box-sizing: border-box;
}
